@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

html {
  font-family: "Inter", sans-serif;
  color: #0a0b37;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
h2,
p {
  padding: 0;
  margin: 0;
}

.selected-type,
.selected-topping {
  color: white;
  background-color: #ee722f;
}

.selected-size {
  box-shadow: 2px 2px 5px 3px #d6d6da;
  background-color: white;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 0px 40px;
}

.pizza_select {
  width: auto;
  height: auto;
  display: flex;
  column-gap: 60px;
  row-gap: 40px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 30px;
  padding: 50px 20px;
}

.pizza_column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  row-gap: 40px;
  height: auto;
  width: auto;
}

.pizza_types {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
}

.pizza_option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  cursor: pointer;
  padding: 20px 15px;
  border-radius: 30px;
  user-select: none;
}

.pizza_image {
  width: 150px;
  height: 150px;
}

.pizza_name {
  height: 10px;
  width: auto;
  font-size: 18px;
  font-weight: 700;
}

.pizza_sizes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 20px;
}

.size_label {
  font-size: 24px;
  font-weight: 700;
}

#size {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 400px;
  height: auto;
  min-height: 50px;
  background-color: #f3f3f7;
  border-radius: 15px;
  flex-wrap: wrap;
}

.size_option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 35px;
  width: 200px;
  min-width: 60px;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
}

.size_name {
  font-size: 16px;
  font-weight: 600;
}

.pizza_toppings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 20px;
}

.topping_set {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  flex-wrap: wrap;
}

.topping_option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: auto;
  max-width: 150px;
  height: auto;
  min-height: 190px;
  padding: 20px 15px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 3px #d6d6da;
  user-select: none;
}

.topping_image {
  width: 100px;
  height: auto;
}

.topping_name {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.topping_price {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

button {
  cursor: pointer;
  max-width: 380px;
  background-color: #ee722f;
  border-radius: 30px;
  color: white;
  width: auto;
  height: auto;
  border: none;
  padding: 20px 100px;
  font-size: 16px;
  font-weight: 500;
}
