@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.paragraph {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
}

.header_h1 {
  font-size: 64px;
  color: #1f3f68;
}

.header_h2 {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.header_h3 {
  font-size: 36px;
  text-align: center;
}

.header_h4 {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
}

.form_item {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.button {
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  width: 300px;
  height: 50px;
  background: linear-gradient(to right, #4876e6, #8d54e9);
  cursor: pointer;
}

.form {
  background-image: url("/src/assets/img/istockphoto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav {
  background: linear-gradient(white, #468888 90%);
  width: 300px;
  height: 65px;
  line-height: 65px;
  overflow: hidden;
}

.nav_item {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 50%;
  border-right: 3px solid white;
  box-shadow: 8px 0 5px -5px black;
}

.nav_link {
  color: black;
  text-decoration: none;
}
